body {
    padding: 0;
    margin: 0;
}

.menu-content {
    font-family: "Oswald", sans-serif;
    padding: 0 0 0 50px;
}

.collapsible-menu {
    background-color: #ffffff;
    padding: 0 30px;
    border-bottom: 3px solid #CDE700;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .2);
}

.collapsible-menu ul {
    list-style: none;
    padding: 0;
}

.collapsible-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
}

.collapsible-menu label {
    font-family: "Sedgwick Ave Display", cursive;
    font-size: 56px;
    display: block;
    cursor: pointer;
    background: url(../menu.jpg) no-repeat left center;
    padding: 10px 0 10px 50px;
}

input#menu {
    display: none;
}

.menu-content {
    max-height: 0;
    overflow: hidden;
    font-family: "Oswald", sans-serif;
    padding: 0 0 0 50px;
}

/* Toggle effect */

input:checked~label {
    background-image: url(../x.png);
}

input:checked~.menu-content {
    max-height: 100%;
}